.Workplace{
  margin: auto;
  position: center;
  padding: 20px;
  
}
.Titulo{
  margin: 100px;
  position: center;
  text-decoration: underline;
  text-decoration-color: chocolate;
  color: orange;
}