body{ 
  background-color: #706C8F; 
  
  }
  .listFrame{
  padding: 15px;
  border: solid;
  border-width: 2px;
  background: white; 
  text-align: center;
  margin: auto;
  margin-top: 2%;
  border-radius: 15px; 
  height: auto;
  width: 800px;
  
  }
  
  .form{
  margin-bottom: 5px;
  margin-top: 5%;
  }

  .add{
    height: 35px;
    border-radius: 25px;
    margin-left: 40px;
    
    }
  
  .entry{
    border: 2px solid blue;
    border-radius: 10px;
    height: 25px;
    margin: auto;
    background-color: ghostwhite;
    width: 400px;
    
  }

  .titleText{
    color: black;
      
    }
  
