.TodoList--container{
    display: block;
    height: 49vw;

    background-image: url("https://cutewallpaper.org/21/cyberpunk-mobile-wallpaper/cyberpunk-4K-wallpapers-for-your-desktop-or-mobile-screen-.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
    overflow: auto;
}

@font-face {
    font-family: myFirstFont;
    src: url(../../fonts/Alien-Encounters-Bold.ttf);
    font-weight: bold;
  }

  .TodoList--title{
    display: block;
    height: 5vw;
    text-align: center;
    box-shadow: -5px -5px 30px 5px #3F26BF, 5px 5px 30px 5px #652DC1;
    padding-top: 1.1vw;
  }
  
  .TodoList--title_text{
    color: white;
    font-family: myFirstFont;
    font-size: 2.3em;
  }

