.list{
    text-align: center;
    color: white;
    font-size: 18px;


}

.delete{
  background-color: rgb(236, 16, 16);
  color:white;
  border-color:white;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  border:0;

}