body{ 
  background: black;
}

  .form{
  text-align: center;
  margin: auto;
  margin-top: 2%;
  border-radius: 15px;
  padding: 15px;
  border: solid white;
  border-width: 5px;
  background: #D3CCE3;
  height: auto;
  width: 700px;
  
  }
  
  .title{
  color: rgb(12, 29, 61);
  }
  
  .forminp{
    margin: auto;
  }
  
  .input{
    background-color: ghostwhite;
    width: 250px;
    border: 2px solid gray;
    border-radius: 5px;
    height: 25px;
    margin: auto;
    text-align: center;
  }
  
  .submit{
  height: 35px;
  border-radius: 8px;
  margin-left: 5px;
  
  }