.list{
    width: auto;
    margin: 10px;
    display: block;
    }
    
.check{
    border-radius: 10px;
    margin: auto;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    vertical-align: center;
    }
   

    .text{
        
        color:black;
        width: auto;
        height: 30px;
        vertical-align: center;
    }
    
    .delete{
    border-radius: 5px;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    background-color: lawngreen;
    
    }