*{
    margin: 0;
    padding: 0;

}
.mainDiv{
    width:100vw;
    height: 100vh;
    background-color:lightblue;
}
.gameDiv{
    float:right;
    width:65%;
    height: 100%;
}
.puzzleDiv{
    float: left;
    height:250px;
    width: 250px;
    border-style: solid;
    background-size: cover;
}
.picDiv{
    width: 500px;
    height:500px;
    float: left;
    background-image: url("1-9.jpg");
    background-size: cover;

}
#div1{

}