*{
  padding: 0;
  margin: 0;
  
}

.lol{
  background-color: black;
  height: 49vw;
}

.title{
  text-align: center;
  font-family: fantasy;
  color: white;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
