*{
        padding: 0;
        margin: 5rem;
        margin-top: 2rem;
}

#Caja1{
    border: black;
    border-style: outset;
    border-radius: 10px;
    overflow: hidden;
}

#Caja{
    text-align: right;
    font-family: Garamond;
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin: 0;
    overflow: hidden;
} 

#CajaF{
    float:left;
    margin-left: 0;
    text-align: right;
    font-family: Garamond;
    font-size: 20px;
    font-weight: 400;
    width: 500px;
    color: black;
    margin: 0;
    overflow: hidden;
} 

#Caja #foto{
    float: left; 
    margin: -60px 100px 15px 15px;
    width: 150px;
    border: black;
    border-style: outset;
    border-radius: 10px;
}
    
#Titulo h1{
    text-align: right; 
    font-family: Helvetica white; 
    font-weight: bold; 
    font-size: 50px; 
    color:black; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    margin: 0;    
}

#datosPersonales h2.titulo {
    text-align: center;
    font-size: 50px;
    color: #131313;
    background-color: #44a5ff;
    letter-spacing: .10em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272;
    height: 50px;
    margin: 0;
    border: black;
    border-style: outset;
    border-radius: 10px;
}

#datosPersonales p.datosP{
    padding-top: 15px;
    background: #c7d9e6;
    height: 200px;
    margin: 0;
}

#estudios h2.titulo {
    text-align: center;
    font-size: 50px;
    color: #131313;
    background-color: #44a5ff;
    letter-spacing: .10em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272;
    height: 50px;  
    margin: 0; 
    border: black;
    border-style: outset;
    border-radius: 10px;
}

#estudiosP{
    padding-top: 15px;
    padding-bottom: 10px;
    background: #c7d9e6;
    margin: 0;
}

#habilidades h2.titulo {
    text-align: center;
    font-size: 50px;
    color: #131313;
    background-color: #44a5ff;
    letter-spacing: .10em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272;
    height: 50px;  
    margin: 0; 
    border: black;
    border-style: outset;
    border-radius: 10px;
}

#habilidadesP{
    padding-top: 15px;
    padding-bottom: 10px;
    background: #c7d9e6;
    margin: 0;
}

#referencias h2.titulo {
    text-align: center;
    font-size: 50px;
    color: #131313;
    background-color: #44a5ff;
    letter-spacing: .10em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272;
    height: 50px;  
    margin: 0; 
    border: black;
    border-style: outset;
    border-radius: 10px;
}

#referenciasP{
    padding-top: 15px;
    padding-bottom: 10px;
    background: #c7d9e6;
    margin: 0;
}