.CoinStatus{
    margin-top: 5px;
    width:80%;
    height: 40px;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    background-color: whitesmoke;
}
.CoinHeader{
    margin-top: 5px;
    width:80%;
    height: 40px;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    background-color: lightblue;
}
.CoinName{
    display: flex;
    margin-left: 5%;
    width:10%
}
.CoinDescription{
    width: 30%;
    margin-left: 10%;
}
.Price{
    width:10%;
    margin-left: 10%;
}