.item{
    width: 30%;
    border: 3px solid #bed4d0;
    border-radius: 5%;
    margin: 10px;
    box-shadow: 5px 5px #dedede;
    position:relative;
    z-index:1;
    resize: initial;
}
.item:after{
    position:absolute;
    content: "";
    display: block;
    padding-bottom: 100%;
    z-index: 2;
}
.itemContent{
    position:  relative;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

img{
    width: 80%;
    height: 80%;
}