body{
background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgb(224, 132, 28), #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(224, 132, 28), #191949); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.todolist{
text-align: center;
background-color:#1c1c1c;
min-height: 500px;
width: 800px;
margin: 30px auto;
border-radius:10px;
border-color: #ffff;

}

.form{
  border-radius: 5px;
  border-color: black;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 3%;
 
  
}

.input{
  background-color:rgb(0, 195, 255);
  color:#ffff;
  border: 0;
  width: 200px;
  height: 50px;
  font-size:18px;
  border-radius: 10px;
  margin: 5px;
}
.input::placeholder{
  color:gray;
}

.submit{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border:0;
  background-color: rgb(224, 132, 28);
  color:#ffff;
  border-color: #ffff;


}