
.companyPic{
    max-width: 200px;
    max-height: 200px;
    width: 5vw;
    height: 5vw;
    float: left;    
}
.title{
    max-height: 200px;
    width: 5vw;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.topVar{
    height: 5vw;
    width: 100vw;
    background-color: cadetblue;
}