.container{
    width: 100%;
    height: 400px;
    display: flex;
}
.block{
    flex-grow: 1;
    width: 50%;
    height: 100%;
}
.Inventory{
    padding: 50px;
}
.subtitle{
    margin: 10px;
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.image{
    width: 100%;
    height: 100%;
}